<h1 class="mb-8 font-bold text-3xl"><%= link "Accounts", to: Routes.user_path(@conn, :index), class: "text-indigo-900" %> / New Account</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.user_path(@conn, :create)) %>
