<div class="">
  <h1 class="mb-8 font-bold text-3xl">Dashboard</h1>
  <p class="mb-12 leading-normal">

  <div>
  <!-- <a href="/500" class="btn-indigo">500 error</a> -->
  <!-- <a href="/404" class="btn-indigo">404 error</a> -->
</div>
